{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <input type="hidden" name="_target_path" value="/" />

    <button type="submit">
        Sign in
    </button>
</form>
<div>
    No account?
    <a href="{{ path('app_register') }}">Register</a>
    or access anonymously
    <a href="{{ path('app_dashboard_index') }}">here</a>
</div>
{% endblock %}
