{% extends "base.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    {% if app.user %}
        <h1 class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </h1>
    {% else %}
        <h1 class="mb-3">
            You are not logged in so you can't use API ... you can try though.
        </h1>
    {% endif %}
    {% block content %}
        <p><a href="{{ app.request.uri }}users">Users List</a></p>
    {% endblock %}
{% endblock %}
