{% extends "dashboard.html.twig" %}
{% block content %}
    <div style="color: green; margin: 1em"><strong>{{ actionResult }}</strong></div>
    <div style="margin: 1em"><strong>||| {{ message }} |||</strong></div>
    <h3>Users List</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for item in users %}
            <tr>
                <td>{{ attribute(item, 'id') }}</td>
                <td>{{ attribute(item, 'firstName') }}</td>
                <td>{{ attribute(item, 'lastName') }}</td>
                <td>{{ attribute(item, 'email') }}</td>
                <td>
                    <form action="{{ app.request.uri }}/edit/{{ attribute(item, 'id') }}">
                        <button type="submit">Edit</button>
                    </form>
                    <form method="post">
                        <input type="hidden" name="action" value="delete" />
                        <input type="hidden" name="id" value="{{ attribute(item, 'id') }}" />
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="{{ app.request.uri }}/new">
        <button type="submit">New User</button>
    </form>
{% endblock %}
