{% extends "dashboard.html.twig" %}
{% block content %}

    <h3>Add User</h3>
    <form action="{{ path('app_users_list') }}" method="post">
        <div>
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName">
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <input type="email" name="email" id="inputEmail" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>

        <input type="hidden" name="action" value="insert" />

        <button type="submit">
            Add User
        </button>
    </form>
{% endblock %}
