{% extends "dashboard.html.twig" %}
{% block content %}

    <h3>Edit User</h3>
    <form action="{{ path('app_users_list') }}" method="post">
        <div>
            <label for="firstName">First name</label>
            <input type="text" value="{{ user['firstName'] }}" name="firstName" id="firstName">
        </div>
        <div>
            <label for="lastName">Last name</label>
            <input type="text" value="{{ user['lastName'] }}" name="lastName" id="lastName">
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ user['email'] }}" name="email" id="inputEmail" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <input type="hidden" name="action" value="update" />
        <input type="hidden" name="id" value="{{ user['id'] }}" />

        <button type="submit">
            Save
        </button>
    </form>
{% endblock %}
